<div class="w-full md:w-3/5 md:mx-auto">

  <div class="p-4 font-sans font-medium tracking-normal">
    {{ username }} / {{ checklist.title }}
  </div>

  <div class="p-2 flex flex-col">
    {{#each checklist.items}}
    <div class="p-2 mb-2 bg-grey rounded">
      {{ this.content }}
    </div>
    {{/each}}
  </div>

  <div class="p-2 flex flex-col md:flex-row">
    <div class="flex-1 bg-purple hover:bg-purple-dark text-sm text-white font-bold py-2 px-4 rounded mb-4 md:mr-4">
      Add
    </div>
    <div class="flex-1 bg-purple hover:bg-purple-dark text-sm text-white font-bold py-2 px-4 rounded mb-4 md:mr-4">
      Check
    </div>
    <div class="flex-1 bg-purple hover:bg-purple-dark text-sm text-white font-bold py-2 px-4 rounded mb-4 md:mr-4">
      Save
    </div>
    <div class="flex-1 bg-purple hover:bg-purple-dark text-sm text-white font-bold py-2 px-4 rounded mb-4 md:mr-4">
      Fork
    </div>
    <div class="flex-1 bg-purple hover:bg-purple-dark text-sm text-white font-bold py-2 px-4 rounded mb-4 md:mr-4">
      Share
    </div>
    <div class="flex-1 bg-purple hover:bg-purple-dark text-sm text-white font-bold py-2 px-4 rounded mb-4 md:mr-4">
      Data
    </div>
    <div class="flex-1 bg-purple hover:bg-purple-dark text-sm text-white font-bold py-2 px-4 rounded mb-4 md:mr-4">
      Delete
    </div>
  </div>

</div>