<div class="w-full max-w-xs mx-auto mt-8">
  <div class="bg-white shadow-md rounded px-8 pt-6 pb-6 mb-4">
    <div class='mb-4'>Thank You!</div>
    <div class="">
      <p>I appreciate your interest in Checklisting, but I'm are still getting accounts/payments set up. Thanks for your patience!</p>
    </div>
  </div>
  <p class="text-center text-grey text-xs">
    ©2019 Acme Corp. All rights reserved.
  </p>
</div>